# Laravel

/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json
.env


# Mac Files
.DS_Store

# IntelliJ
.idea/
public/newsimages/93326.jpg
public/newsimages/49622.jpg
public/newsimages/87966.jpg
