@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700,900);

body {
  font-family: 'PT Sans';
  background-color: #f1f1f2;
}

#container-navbar {
	margin-left: 5%;
}

.sidebar-left {
	padding-top: 40px;
	text-align: left;
	float: left;
	width: 125px;
}

.sidebar-left-longer {
    padding-top: 40px;
	text-align: left;
	float: left;
	width: 150px;
}

.sidebar-search-bar, .sidebar-categories, .sidebar-oportunities {
	margin-bottom: 40px;
}

.sidebar-auth {
	margin-bottom: 10px;
}

.sidebar-categories {
	word-wrap: break-word;
	font-size: 10px;
	font-weight: 600;
}

.oportunity {
    font-size: 12px;
    padding: 0;
}

.oportunity-line {
    border: 0.5px solid #000000;
    opacity: 0.1;
    color: #000000;
    margin: 10px 0px 10px 0px;
}

.oportunity > li, .news-social-networks > ul > li {
    list-style: none;
}

.oportunity > li:nth-child(2) {
    color: #be1e2d;
}

.news-section {
    margin: 40px 0px 0px 185px;
}

.news-header-title {
    font-weight: 900;
}

.news-authors-date {
    font-size: 10px;
    font-weight: 900;
}

.news-date, .news-authors {
    display: block;
}

#search-bar-title,  
#categories-title,
#authentication-title,
#oportunities-title {
	text-transform: uppercase;
	font-weight: 900;
	display: block;
	padding-bottom: 5px;
	font-size: 14px;
}

.sidebar-categories > span:not(:first-child) {
	color: #ababab;
	padding-right: 5px;
}

#search-bar-input, .auth-input {
	border: 1px solid #000000;
	font-size: 10px;
	padding: 4px;
	width: 125px;
}

.auth-input {
	margin-bottom: 5px;
}

.btn-auth {
	width: 125px;
	background-color: #000000;
	color: #ffffff;
	text-transform: uppercase;
	font-size: 11px;
	border: 0;
	vertical-align: -webkit-baseline-middle;
	padding: 5px 0 5px 0; 
}

#container-left {
	margin-left: 5%;
	padding-left: 15px;
}

.main {
  padding: 40px 15px;
  text-align: center;
}

.navigation-gradient {
    background: linear-gradient(to right, #cbcb30 0%, #f5822f 20%, #ed2324 40%, #680924 60%, #691042 80%, #280e13 100%);
}

.navigation-options {
    margin-left: 7.5%;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover
  {
    background-color: #eebbbe;
    color: #000000;
    font-weight: 800;
}

.navbar-inverse .navbar-nav > li > a:hover {
    background-color: #000000;
}

.navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
}

.navbar-inverse .navbar-nav > li > a {
    line-height: 40px;
}

.navbar-inverse .navbar-collapse {
    border: 0;
}

.navbar-inverse .navbar-nav > li {
	text-transform: uppercase;
}

.navbar {
    min-height: 70px;
}

.navbar-fixed-top {
    border: 0;
}

.navbar-margin {
    margin:0;
    border: 0;
    border-radius: 0px;
}

.navbar-little {
    height: 25px;
    min-height: 25px;
    margin-bottom: 0;
    background-color: #f1f1f2;
    border: 0;
    border-radius: 0px;
}

.help, .language, .auth {
    height: 100%;
    display: inline-block;
    float: right;
    font-size: 12px;
}

.search-visible-xs {
    color: #333;
}

.auth-visible-xs {
    background-color: #000000;
    color: #ffffff;
}

.language-visible-xs {
    text-transform: uppercase;
}

button.navbar-toggle.collapsed {
    margin: 17px 17px 0 0;
    border: 0;
}

button.navbar-toggle.collapsed:hover {
    background-color: transparent;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    margin: 17px 17px 0 0;
    border: 0;
    background-color: transparent;
}

.search-visible-xs, .auth-visible-xs, .language-visible-xs {
    height:100%;
    width: 50px;
    text-align: center;
    display:inline-block;
    float: right;
    font-size: 12px;
}

#search-span {
    vertical-align: -webkit-baseline-middle;
}

#language-span-capital {
    vertical-align: -webkit-baseline-middle;
    text-decoration: underline;
}

.search {
	float: right;
	width: 5%;
	text-align: center;
	height: 70px;
}

#search-icon {
	margin-top: 50%;
	vertical-align: -webkit-baseline-middle;
	color: #ffffff;
}

.auth {
    width: 150px;
    background-color: #000000;
    color: #ffffff;
}

.auth-left, .auth-right {
    height: 100%;
}

.auth-left {
    padding-left: 10px;
    display: inline-block;
}

.auth-right {
    padding-right: 10px;
    display: inline-block;
    float: right;
    font-size: 10px;
}

#span-bold {
	font-weight: 800;
	font-size: 12px;
}

.language, .help {
    padding-right: 20px;
}

#auth-span {
    vertical-align: middle;
    vertical-align: -webkit-baseline-middle;   
}

#help-span {
    vertical-align: bottom;
}

#language-span {
    vertical-align: middle;
    vertical-align: -webkit-baseline-middle;
    text-decoration: underline;
}

#language-link {
    color: #000000;
}

#logo {
    height: 40px;
}

#navbar {
    box-shadow: none;
}

/*-------------------------------
---------------------------------
---------------------------------
---------------------------------
---------------------------------
---------------------------------
---------------------------------
*/

h3.main-title-xs{
    font-weight: 800;
}

.main-title-section {
	padding-top: 40px;
	padding-left: 185px;
}

h2.main-title {
	margin: 0;
	font-weight: 600;
}

h4.main-title-link {
    margin: 0;
    font-weight: 600;
    font-size: 20px;
    color: #be1e2d;  
    display: inline-block;
    text-decoration: underline;
}

h4.other-title {
    margin: 0;
    font-size: 20px;
    font-weight: 600;
    display: inline-block;
}

.slash {
    font-size: 20px;
}

.news-group {
    padding-left: 185px;
    padding-top: 60px;
}

.news-img {
    max-width: 350px;
    float: left;
    margin-right: 25px;
}

.news-text {
    padding-bottom: 10px;
}

.news-group-xs {
    padding-top: 30px;
}

.news-title-l, .news-title-xs {
    text-transform: uppercase;
    font-weight: 800;
    line-height: 3;
}

.red-text {
    color: #be1e2d;
}

.span-view-more {
   padding-top: 10px;
}

hr {
    border: 0.5px solid #000000;
    opacity: 0.1;
    color: #000000;
}

.news {
    margin-bottom: 25px;
}

.news-longer {
    margin-top: 50px;
}

.news-social-networks {
    margin-top: 50px;
}

.news-social-networks-span {
    font-size: 18px;
    font-weight: 900;
}

.social-networks > li {
    display: inline;
}

.social-networks {
    margin-top: 20px;
    padding: 0;
}

.social-networks > li > img {
    height: 30px;
    width: 30px;
}

#main-container-xs {
    margin-top: 25px;
}

.main-container-longer {
    margin-left: 50px;
}

#container-footer {
    margin-left: 5%;
    padding: 0;
    text-align: center;
    font-size: 12px;
    padding-bottom: 5px;
}

#container-footer > span {
    display: block;
}